<%= form_for @paper do |f| %>
    <% if @paper.errors.any? %>
        <div id="errors">
          <h2>
            <%= pluralize(@paper.errors.count, 'error') %> detected:
          </h2>
          <ul>
            <% @paper.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :venue %><br/>
      <%= f.text_field :venue %>
    </p>
    <p>
      <%= f.label :year %><br/>
      <%= f.text_field :year %>
    </p>
    <% (1..5).each do |num|
      label = :"author_#{num}"
    %>
        <p>
          <%= f.label label %><br/>
          <%= f.collection_select label,
                                  Author.all,
                                  :id,
                                  :name,
                                  {selected: @paper.author_ids[num - 1], include_blank: '(none)'},
                                  {name: 'paper[author_ids][]'} %>
        </p>
    <% end %>
    <p>
      <%= f.submit %>
    </p>
<% end %>
